body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

form {
    display: inline;
    margin-left: 10px;
}

input[type="text"] {
    padding: 5px;
}

button {
    padding: 5px 10px;
    background-color: #5715d9;
    color: rgb(225, 19, 19);
    border: none;
    cursor: pointer;
    margin-left: 5px;
}

button:hover {
    background-color: #33268942;
}